.cart-page {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 5rem;
}

.cart__title {
  color: #654895;
  text-transform: uppercase;
  font-weight: 600;
}

.cart__main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.cart-left {
  flex: 1 1 65%;
  padding-right: 100px;
}

.cart-right {
  flex: 0 1 35%;
  position: sticky;
  top: 130px;
  height: fit-content;
}

.cart__main.cart-main-empty .cart-right {
  order: 1;
}

.cart__main.cart-main-empty .cart-left {
  order: 2;
}

.cart-right .js-contents-footer {
  position: relative;
  padding: 30px;
}

.cart-right.cart-right-empty .js-contents-footer {
  padding: 0;
}

.cart-right .js-contents-footer::after {
  position: absolute;
  content: "";
  background-color: #000;
  opacity: .03;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cart-right.cart-right-empty .js-contents-footer::after {
  display: none;
}

.cart-page .mini-cart__button-container {
  display: flex;
  flex-direction: column;
}

.cart-page .mini-cart__button-container div {
  width: 100%;
}

.cart-left .cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-left .cart-item .cart-item__media {
  flex: 0 0 150px;
  margin-right: 40px;
}

.cart-left .cart-item .cart-item__details .cart-item__name,
.cart-left .cart-item .cart-item__details .product-option span,
.cart-left .cart-item .cart-item__details .cart-item__quantity .quantity__remove {
  font-size: 18px;
}

.mini-cart__btn-atc-empty {
  color: #ffffff;
  background-color: #ff8831;
  text-transform: uppercase;
  border-radius: 10px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  padding: 10px 17px;
  font-size: 18px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .cart-page {
    padding: 0 3.5rem;
  }

  .cart__main {
    flex-direction: column;
  }

  .cart-left {
    flex: 1 1 100%;
    padding: 0;
  }

  .cart-right {
    flex: 0 0 100%;
  }

  .cart-right .js-contents-footer {
    padding: 0;
  }

  .cart-right .js-contents-footer::after {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .cart-page {
    padding: 0 1.5rem;
  }

  .cart-left .cart-item .cart-item__media {
    margin-right: 20px;
  }

  .cart-item__media a {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
  }

  .cart-item__media img { 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .cart-left .cart-item .cart-item__details {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap
  }

  .cart-left .cart-item .cart-item__details .cart-item__name,
  .cart-left .cart-item .cart-item__details .product-option span,
  .cart-left .cart-item .cart-item__details .cart-item__quantity .quantity__remove {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cart-page {
    padding: 0 1.5rem;
  }

  .cart-left .cart-item .cart-item__media {
    margin-right: 0px;
  }

  .cart-left .cart-item .cart-item__details .cart-item__name,
  .cart-left .cart-item .cart-item__details .product-option span,
  .cart-left .cart-item .cart-item__details .cart-item__quantity .quantity__remove {
    font-size: 14px;
  }
}