.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e1;
}

.cart-item:last-child {
  border: none;
}

.cart-item__media {
  flex: 0 0 100px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.cart-item__media img {
  width: 100%;
  height: auto;
}

.cart-item__details {
  flex: 1 1 auto;
}

.cart-item__details a {
  text-decoration: none;
}

.cart-item__details .product-option  {
  display: flex;
}

.cart-item__details .product-option span  {
  font-size: 15px;
}

.cart__item-sub {
  display: flex;
  justify-content: space-between;
}

.cart-item__quantity {
  width: 40%;
}

.cart-item__quantity .quantity__button {
  padding: 0 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.cart-item__quantity .quantity__button svg {
  width: 1rem;
  pointer-events: none;
}

.cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discounts__discount {
  font-size: 16px;
  color: #fa3900;
}

.cart-item__quantity .quantity__input {
  outline: none;
}

.cart-item__quantity .quantity__input:focus-visible {
  box-shadow: none;
  outline: none;
}

.cart-item__quantity .quantity__remove {
  margin-top: 10px;
  display: inline-block;
  color: #000;
  text-decoration: underline;
  font-size: 16px;
}

.cart-item__old-price {
  font-size: 14px;
}

.cart-item__final-price {
  color: #fa3900;
  font-size: 20px;
}

/* css footer */

.cart__footer {
  padding: 20px;
  border-top: 1px solid;
  border-top-color: #e8e8e1;
}

.cart__item--subtotal {
  font-size: 20px;
  font-weight: 700;
}

.cart__item--saving {
  font-size: 18px;
  color: #fa3900;
}

.cart__checkout-wrapper {
  margin-top: 15px;
}

.mini-cart__btn-atc {
  color: #ffffff;
  background-color: #654895;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  padding: 10px 17px;
  font-size: 18px;
}

.cart__checkout {
  color: #ffffff;
  background-color: #ff8831;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  padding: 10px 17px;
  font-size: 18px;
}

.cart__item-row--footer {
  padding: 0 60px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 2rem;
}