.product-recommendations {
  display: block;
  padding: 0 5rem;
}

@media screen and (max-width: 768px) {
  .product-recommendations {
    padding: 0 2.5rem;
  }
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
  color: #ba2649;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
