img {
  width: 100%;
  height: 100%;
}

.medium-up--hide {
  display: none;
}

.slideshow__slide {
  display: none;
}

@media screen and (max-width: 768px) {
  .medium-up--hide {
    display: block;
  }

  .small--hide {
    display: none;
  }
}